/*
	Style for purchase summary
*/

select {
    font-family: 'Slabo+27px', regular;
    background-color: rgba(126, 188, 230, 1);
}

input {
    background-color: rgba(126, 188, 230, 1);
}

#getProducts {
    font-family: 'Mali', regular;
}

#summary {
    font-family: 'Mali', regular;
}